@import '/src/styles.scss';

.ui.menu.toolbar{
 background-color: rgba(20, 38, 86, 0.90);
 border-radius: none;
 .item.header{
  img{
   padding: 0 .5rem;
   border-right:2px solid #fff ;
  }
  .logo-name{
   color: #fff;
   p{
    // line-height: 22px;
    width:400px;
    font-size: 1rem;
    font-weight: 400;
    font-family:"roboto-light";
    margin: 0 .4rem;
   }
  }
 }
 .name{
  color: #fff;
  p{
   line-height: 22px;
   width:120px;
   font-size: 1rem;
   font-family:"roboto-light";
   margin: 0 .4rem;
  }
 }
}
.ui.menu {
 border-radius: 0px !important;
}

.ui.top.right.pointing.dropdown>.menu {
 top: 100%;
 bottom: auto;
 right: 0;
 left: auto;
 margin: .2em 0 0;
}

.ui.mini.button.right.aligned{
 background-color: $main-color;
 color:#fff
}
.ui.mini.button.left.aligned{
 border: 1px solid $main-color;
 color: $main-color;
 border-radius: 0.5rem;
 background: #fff;
}