@import "/src/styles.scss";

.ui.fluid.pointing.vertical.menu.secondary {
  // background: $main-color;
  width: 300px;
}

:host {
  #sidebar {
    width: 100%;
    padding-top: 20px;
    // background: $main-color;
    color: #fff;
    height: 100vh;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .ui.secondary.vertical.pointing.menu .item {
    color: #fff;
    padding-left: 3em;
    margin-bottom: 0.5em;
    cursor: pointer;
    // svg {
    // 	path {
    // 		fill: #fff;
    // 	}
    // }
  }

  #group.menu {
    margin-top: -25px;
  }

  #group.menu .active.item {
    color: #005de0;
    border: none !important;
  }

  #group.menu .item {
    padding-left: 4em;
    margin-bottom: 0.2em;
    width: 200px;
  }

  .ui.secondary.vertical.pointing.menu .active.item {
    color: #005de0;
    border-color: #005de0;

    border-right-width: 5px;
    svg {
      path {
        fill: #005de0;
      }
    }
  }
  .navmenu-icon {
    stroke: white;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .ui.secondary.vertical.pointing.menu .active.item {
    border-right: 6px solid #005de0;

    .navmenu-icon {
      stroke: #005de0;

      & path {
        fill: none;
      }
    }
  }

  .ui.vertical.menu .item > i.icon,
  .ui.vertical.menu .item > i.icons {
    width: 1.18em;
    float: left;
    margin: 0 0 0 0.5em;
  }
}

div.header {
  display: grid;
  grid-template-columns: 10px 1fr;
  align-items: center;
  grid-gap: 30px;
  font-size: 12.5px;

  img {
    height: 1.5em;
    width: 1.5em;
  }
}
