<div class="toolbar" paddingY="0" paddingX='10' appPadding>
  <div style="display: flex; align-items: center;" class="item header" id="no-borderline">
    <img class="ui image logo" src="./../../../../assets/Images/logo (2).svg"
      style="width: 70%; height: fit-content;" />
    <div class="logo-name">
      <p>SMTP API Manangement System</p>
    </div>
  </div>
  <!-- <span class="example-spacer"></span> -->

  <div class="dropdown">
    <div class="dropbtn">
      <div style="border-left: 1px solid #fff; padding: 0 0.9rem" class="name">
        <p style="text-transform: capitalize">
          {{ loggedInUser?.firstName }}
          {{ loggedInUser?.lastName }}
        </p>
        <p style="font-style: italic">
          {{ loggedInUser?.role.roleName }}
        </p>
      </div>
      <img style="
          					width: 35px;
          					height: 35px;
          					border-radius: 50%;
          					object-fit: cover;
          				" src="{{ loggedInUser?.image }}" alt="profile photo" />
      <i style="color: #fff" class="angle down icon" (click)="toggleDropdown()"></i>

    </div>

    <div id="user" class="dropdown-content" *ngIf="isToggled">

      <div>
        <!-- <h2>Hello World. THis is html, cass nd vanilla JS</h2> -->
        <div class="ui grid">
          <div class="five wide column">
            <div class="ui basic fill segment">
              <img style="
    									position: relative;
    									left: 1.2rem;
    									top: 0.9rem;
    									border-radius: 50%;
    									width: 72px;
    									height: 72px;
    								" height="100px" width="100px" class="ui circular image" src="{{ loggedInUser?.image }}"
                alt="user profile photo" />
            </div>
          </div>
          <div class="eleven wide column">
            <div class="ui basic fill segment">
              <div style="padding-bottom: 10px">
                <strong style="text-transform: capitalize">{{ loggedInUser?.firstName }}
                  {{ loggedInUser?.lastName }}</strong>
              </div>
              <div style="padding-bottom: 5px">
                {{ loggedInUser?.role.roleName }}
              </div>
              <div style="
    									padding-bottom: 10px;
    									color: #aeaeae;
    									white-space: pre-line;
    								">
                {{ loggedInUser?.email }}
              </div>
              <a style="
    									border-radius: 0.25rem;
    									width: 14.125rem;
    									color: #fff;
    									padding: 0.7rem 0rem;
    									height: 32px;
    									font-weight: 400;
    									font-size: 0.9rem;
    									background-color: #142656;
    								" class="ui mini button" routerLink="/admin/settings/manage-profile">My Profile</a>
            </div>
          </div>
        </div>
        <div style="
    							background: #f0f1f8 !important;
    							width: 26.5rem;
    							position: relative;
    							padding-left: 10px;
    							margin-top: 10px;
    						" class="buttons">
          <div class="btn">
            <button style="
    									color: #142656;
    									font-weight: 500;
    									margin: 1rem 0.2rem;
    									border: none;
    									position: relative;
    									top: 0.5rem;
    									height: 1rem;
    									cursor: pointer;
    								" (click)="resetPasswordModal()">
              Change password
            </button>
            <hr style="margin: 10px 5px" />
            <button style="
    									color: #142656;
    									font-weight: 500;
    									margin: 1rem 0.2rem;
    									position: relative;
    									bottom: 0.5rem;
    									height: 1rem;
    									cursor: pointer;
    									border: none;
    								" (click)="logout()">
              Sign out
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>