// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$smtp-ssr2-primary: mat.define-palette(mat.$indigo-palette);
$smtp-ssr2-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$smtp-ssr2-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$smtp-ssr2-theme: mat.define-light-theme(
  (
    color: (
      primary: $smtp-ssr2-primary,
      accent: $smtp-ssr2-accent,
      warn: $smtp-ssr2-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($smtp-ssr2-theme);

/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/modal.scss";
$main-color: #142656;

@font-face {
  font-family: "roboto";
  src: url(./assets/Fonts/Roboto/Roboto-Regular.ttf);
  font-display: swap;
  /* Additional font properties */
}

@font-face {
  font-family: "roboto-light";
  src: url(./assets/Fonts/Roboto/Roboto-Light.ttf);
  font-display: swap;
  /* Additional font properties */
}

* {
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
  margin: 0;
  // border-radius: 0;
}

.ui.dimmer.modals {
  padding: 0;
}

.ui.grid > .column:not(.row) {
  min-width: 84px;
}

.table-cell .ui.dropdown > .menu.transition {
  border: 1px solid #031f68;
  top: 75%;
  left: -75%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-snack-bar-container {
  border: 2px solid;
  border-radius: 4px;
  margin-top: 100px !important;
  &.red-snackbar {
    --mdc-snackbar-container-color: #fff;
    --mat-mdc-snack-bar-button-color: #fb4037;
    --mdc-snackbar-supporting-text-color: #fb4037;
    border-color: #fb4037;
  }

  &.green-snackbar {
    --mdc-snackbar-container-color: #fff;
    --mat-mdc-snack-bar-button-color: #5fd3a4;
    --mdc-snackbar-supporting-text-color: #5fd3a4;

    border-color: #5fd3a4;
  }
}
